/* styles.css */
body {
   padding-top: 5vdh;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Opcional: oculta el scrollbar del body */
}

::-webkit-scrollbar {
    display: none; /* Oculta el scrollbar en navegadores WebKit */
}

* {
    scrollbar-width: none; /* Oculta el scrollbar en Firefox */
    user-select: none;
}

body {
    -ms-overflow-style: none; /* Oculta el scrollbar en IE y Edge */
}

body.keyboard-is-open .container-login {
  padding-bottom: 300px; /* espacio para que no lo tape el teclado */
}


.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  background-color: #ff7b00;
  color: white;
  border: none;
  padding: 10px 14px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1000;
}


.navbar {
  width: 250px; /* o el ancho que estés usando */
  min-width: 250px;
  background-color: #fff;
}

.main-content {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
